//-----------------------------------------------------------------------------
// Name: dapitest.rc
// Purpose: dapitest resource file
// Author: Pat Mui
// Create Date: 7/10/97
// Last Modified: 10/7/97
// Version: 1.4
// Notes:
//
// Copyright 1997 Fujitsu Software Corporation and Fujitsu Systems Business
// of America, All Rights Reserved".
//-----------------------------------------------------------------------------
#include <windows.h>
#include "dapitest.h"

DAPITEST ICON "dapitest.ico"

IDD_DAPITEST DIALOG DISCARDABLE  0, 0, 240, 275
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "WorldsAway Developer API Test Program"
FONT 8, "MS Sans Serif"
BEGIN
    RTEXT           "Appname: dapitest",-1,4,6,64,12
    PUSHBUTTON      "&Register",IDC_REGISTER,85,3,58,14
    PUSHBUTTON      "&Unregister",IDC_UNREGISTER,160,3,58,14
    GROUPBOX        "Communicate",-1,4,19,233,68
    RTEXT           "Communicate Mode:",-1,5,32,70,12
    CONTROL         "Speak",IDC_MODESPEAK,"Button",BS_AUTORADIOBUTTON,84,30,
                    35,12
    CONTROL         "Think",IDC_MODETHINK,"Button",BS_AUTORADIOBUTTON,123,30,
                    35,12
    CONTROL         "ESP",IDC_MODEESP,"Button",BS_AUTORADIOBUTTON,162,30,35,
                    12
    PUSHBUTTON      "&Communicate",IDC_COMMUNICATE,164,47,58,14
    RTEXT           "ESP Name:",-1,5,50,41,12
    EDITTEXT        IDC_ESP,51,48,90,14,ES_AUTOHSCROLL
    RTEXT           "Text:",-1,5,68,20,12
    EDITTEXT        IDC_TEXT,29,67,204,14,ES_AUTOHSCROLL
    GROUPBOX        "Send (use LF button to append a linefeed character)",
	               -1,4,92,233,65
    RTEXT           "Avatar Name(s):",-1,5,105,56,12
    EDITTEXT        IDC_AVATAR,64,103,120,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&LF",IDC_LF,187,103,16,14
    PUSHBUTTON      "&Send",IDC_SEND,205,103,28,14
    RTEXT           "Data:",-1,5,122,21,12
    EDITTEXT        IDC_DATA,30,121,203,14,ES_AUTOHSCROLL
    RTEXT           "Ack String:",-1,5,141,40,12
    EDITTEXT        IDC_ACK,47,139,186,14,ES_AUTOHSCROLL | ES_READONLY
    GROUPBOX        "Receive String: (via a WorldsApi_Receive command):",-1,
                    4,160,233,31
    EDITTEXT        IDC_RECEIVE,8,171,225,14,ES_AUTOHSCROLL | ES_READONLY
    GROUPBOX        "Get All Text String:",-1,4,194,233,58
    EDITTEXT        IDC_RESULT,8,205,225,40,ES_MULTILINE | ES_AUTOVSCROLL | 
                    ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL
    PUSHBUTTON      "&Get All Text",IDC_GETALLTEXT,14,255,58,14
    PUSHBUTTON      "Clear S&trings",IDC_CLEAR,90,255,58,14
    PUSHBUTTON      "E&xit",IDC_EXIT,166,255,58,14
END
